/*  your css code here. If applicable */
#dsa{
	background-color:#890123;
	border:1px solid black;
	width:50%;
	display: grid;
  place-items: center; 
}
#mern{
	background-color:#f37f1b;
	border:1px solid black;
	width:30%;
	height:75px;
	display: grid;
  place-items: center; 
}
#row1{
	display:flex;
	justify-content:space-between;
}
#acciojob{
	background-color:#626ee3;
	border:1px solid black;
	width:75%;
	margin-top:24px;
	margin-bottom:24px;
	
}
#row2{
	display: grid;
  place-items: center; 
	text-align:center;
}
#buisness-analytics{
	background-color:#12967e;
	border:1px solid black;
	width:40%;
	margin-left:10px;
	display: grid;
  place-items: center; 
}
#spring{
	background-color:#f21a3f;
	border:1px solid black;
	width:50%;
	height:75px;
	display: grid;
  place-items: center; 
}
#row3{
	display:flex;
	justify-content:space-between;
	
}
.product{
	color:white;
	
}