*{
	box-sizing:border-box;
}
#wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap:nowrap;
	width: 100%; 
}
#row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width:auto;
}

#dsa {
  width: 50%;
  /* center text inside */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #890123;
  border: 1px solid black;
  color: white;
}

#mern {
  width: 30%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f37f1b;
  border: 1px solid black;
  color: white;
}

#row2 {
  display: flex;
  justify-content: center;
}

#acciojob {
  width: 75%;
  background-color: #626ee3;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
flex-grow:0;
}

#row3 {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

#buisness-analytics {
  width: 40%;
  background-color:rgb(18,150,126);
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#spring {
  flex: 1; 
  height: 75px;
  background-color: #f21a3f;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}